@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap: 500');

/* images */


.contact-image {
    background-image: url('../images/contact-us-image.jpg');
    background-size: cover;
    height: 90vh;
    width: 100%;
    opacity: 0.8;
}

.review-image {
    background-image: url('../images/review-image.jpg');
    background-size: cover;
    height: 90vh;
    width: 100%;
    opacity: 0.8;

}

/* footer */
.footer-text {
    text-align: center;
}

.text {
    color: #ffffff!important;
}


.scrollbox {
    height: 270px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px 
   }

/* map */

#map {
    min-height: 360px;
    }



/* text */

.index-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.front-page-text {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

.dest-heading {
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

.contact-info {
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

.map-header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* background colours */

.main-background {
    background-color: #ffffff
}

.alt-bg {
    background-color:#2f6e91;
}

.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
}

.scrollbox-bg {
    background-color: #aed0e0;
}


/* media queries */

@media (min-width: 300px) {

    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 12em;
    }

}

@media (min-width: 768px) {

    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 13em;
    }

}

@media (min-width: 992px) {
    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 13em;
    }
}

@media (min-width: 1025px) {
    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 12em;
    }
}


.video {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

