/* images */


.contact-image {
    background-image: url('/assets/images/contact-us-image.jpg');
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.review-image {
    background-image: url('/assets/images/review-image.jpg');
    background-size: cover;
    height: 90vh;
    width: 100%;

}

/* footer */
.footer-text {
    text-align: center;
}

.footer-bg {
    background-color: #f8f9fa;
}



.scrollbox {
    height: 270px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    padding: 10px 
   }

/* map */

#map {
    min-height: 360px;
    }



/* text */

.index-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.front-page-text {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.dest-heading {
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

/* media queries */

@media (min-width: 300px) {

    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 12em;
    }

}

@media (min-width: 768px) {

    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 13em;
    }

}

@media (min-width: 992px) {
    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 13em;
    }
}

@media (min-width: 1025px) {
    .carousel .image-size {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 12em;
    }
}


.video {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
